<template>
  <div class="container">
    <div class="row">
      <h1 class="col-sm">{{title}}</h1>
    </div>
    <div class="row">
      <div class="col-sm">{{message}}</div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-success" @click="append">Append</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'message',
  data() {
    return {
      title: 'Message page...',
      message: 'Go fuck your self'
    }
  },
  methods: {
    append() {
      console.log(this.message)
      this.message = 'test test'
    }
  }
}
</script>
