<template>
  <div class="card col-2 offset-1" style="width: 18rem;">
    <img v-bind:src="`/cities/${city.name}.jpg`" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{city.name}}</h5>
      <p class="card-text">
        <strong>Location:</strong>
        {{city.latitude}},{{city.longitude}}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "city-item",
  props: {
    city: Object
  }
};
</script>