<template>
  <div>
    <top-menu></top-menu>
    <div id="body">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import topMenu from "../components/topMenu.vue";
export default {
  components: {
    "top-menu": topMenu
  }
};
</script>

<style scoped>
#body {
  padding: 1%;
}
</style>
