<template>
  <div v-if="cities && cities!=null" class="container">
    <div class="row">
      <div class="col-8 offset-1">
        <div class="row">
          <input
            type="text"
            v-model="searchCriteria"
            class="form-control col-10"
            placeholder="search"
          />
          <button id="search-button" @click="submitSearch" class="btn btn-primary col-2">Find</button>
        </div>
      </div>
    </div>
    <div class="row">
      <template v-for="city in cities">
        <city-item :key="city.slug" :city="city"></city-item>
      </template>
    </div>
  </div>
</template>

<script>
import cityItem from "../../components/cityItem/cityItem.vue";

export default {
  name: "cities",
  components: {
    "city-item": cityItem
  },
  asyncData({ $axios }) {
    return $axios.get("https://1stquest.com/api/plan/v1/cities").then(res => {
      return { cities: res.data.data };
    });
  },
  data() {
    return {
      searchCriteria: null
    };
  },
  methods: {
    submitSearch() {
      if (this.searchCriteria == null) return;

      this.$router.push({ path: `/results/${this.searchCriteria}` });
    }
  }
};
</script>

<style>
.card {
  margin-top: 2%;
  padding: 1%;
}
#search-button {
  max-width: 70px;
  margin-left: 5px;
}
</style>