<template>
  <div class="card col-5">
    <div class="card-body">
      <h5 class="card-title">{{itinerary.title}}</h5>
      <div id="images" class="row">
        <img
          class="col-4"
          v-for="image in allImages"
          v-bind:key="image.title"
          :src="image.src"
          :alt="image.alt"
          :title="image.title"
        />
      </div>
      <p class="card-text">{{itinerary.overView}}</p>
      <div class="row">
        <span
          v-for="city in itinerary.cities"
          v-bind:key="city.slug"
          class="badge badge-success col-4"
        >{{city.name}}</span>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <strong>Price from</strong>
          {{itinerary.totalPrice.min}}$
        </div>
        <div class="col">
          <strong>To</strong>
          {{itinerary.totalPrice.max}}$
        </div>
      </div>
      <hr />

      <a href="#" class="btn btn-primary">More details...</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "itinerary-item",
  props: { itinerary: Object },
  data() {
    return {
      allImages: []
    };
  },
  created() {
    const _this = this;
    this.itinerary.cities.forEach(x => {
      _this.allImages = _this.allImages.concat(x.images);
    });
  }
};
</script>

<style>
.badge {
  margin: 1%;
}
.card {
  margin: 5px;
}
#images {
  margin-top: 20px;
  margin-bottom: 20px;
}
#images img{
    margin-bottom: 5px;
}
</style>