<template>
  <div v-if="itineraries && itineraries!=null" class="container">
    <div class="row">
      <template v-for="itinerary in itineraries">
        <itinerary-item :key="itinerary.slug" :itinerary="itinerary"></itinerary-item>
      </template>
    </div>
  </div>
</template>

<script>
import itineraryItem from "../../../components/itineraryItem/itineraryItem.vue";

export default {
  name: "results",
  components: { "itinerary-item": itineraryItem },
  asyncData({ $axios, params, error }) {
    const data = {
      cities: [params.city]
    };
    return $axios
      .get("https://1stquest.com/api/plan/v1/itineraries", {
        data: JSON.stringify(data)
      })
      .then(res => {
        return { itineraries: res.data.data };
      })
      .catch(e => {
        const errorLog = {
          error: e,
          data: data
        };
        error({ statusCode: 404, message: JSON.stringify(errorLog) });
      });
  }
};
</script>