.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }

  .test-enter-active, .test-leave-active {
    transition: opacity 5s;
  }
  .test-enter, .test-leave-to {
    opacity: 0;
  }